<a href="https://colab.research.google.com/github/thekishanpatel/FastAi/blob/master/Tabular_FastAI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Set Up Note-Book**

In [1]:
  !curl -s https://course.fast.ai/setup/colab | bash

Updating fastai...
Done.

In [0]:
from fastai.collab import *
from fastai.tabular import *

In [3]:
from google.colab import drive
drive.mount('/content/gdrive', force_remount=True)
root_dir = "/content/gdrive/My Drive/"
base_dir = root_dir + 'fastai-v3/'

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
#path = Path(base_dir + 'data/bears')
#dest = path/folder
#dest.mkdir(parents=True, exist_ok=True)

# **Load Data**

In [0]:
path = untar_data(URLs.ADULT_SAMPLE)
df = pd.read_csv(path/'adult.csv')

In [0]:
dep_var = 'salary'
cat_names = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race']
cont_names = ['age', 'fnlwgt', 'education-num']
procs = [FillMissing, Categorify, Normalize]

# **Create Data Bunch**

In [0]:
test = TabularList.from_df(df.iloc[800:1000].copy(), path = path, cat_names = cat_names, cont_names = cont_names)

In [0]:
data = (TabularList.from_df(df, path = path, cat_names = cat_names, cont_names = cont_names, procs = procs)
        .split_by_idx(list(range(800, 1000))) # Train/Val Split
        .label_from_df(cols = dep_var) # Labels
        .add_test(test, label = 0)
        .databunch())

In [17]:
data.show_batch(rows = 10)

# **Train**

In [19]:
learn = tabular_learner(data, layers = [200, 100], metrics = accuracy)
learn.fit(1, 1e-2)